html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* /////////////////////////// */
/* GLOBAL */
/* /////////////////////////// */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  background-image: url("./assets/images/background.png");
  background-position: center;
  background-size: cover;
  color: #f8f8f8;
}

h1, h2, h3, ul, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1, h2, h3, .timeText {
  font-family: 'Lato', sans-serif;
}

a {
  color: #f8f8f8;
  text-decoration: none;
}

.externalLinks a {
  position: relative;
}

.externalLinks a:after {
  position: absolute;
  content: "";
  background-color: #f8f8f8;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transform-origin: right bottom;
  transform: scaleX(0);
  transition: transform 0.2s ease-in;
}

.externalLinks a:hover:after, .externalLinks a:focus:after, .externalLinks a:active:after {
  transform: scaleX(1);
  transform-origin: left bottom;
  transition: transform 0.2s ease-in;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  border: none;
  cursor: pointer;
  color: #f8f8f8;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* /////////////////////////// */
/* SPLASH */
/* /////////////////////////// */
.splashScreen, .disclaimer{
  height: 100vh;
}

.splashScreen {
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.developers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  opacity: 0;
  animation: fadeInOut 5s;
}

.fadeOut {
  opacity: 0;
  transition: opacity ease-in 0.5s;
}

@keyframes fadeInOut {
  from {opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1;}
  to {opacity: 0;}
}
/* ////////////////////////////// */

/* /////////////////////////// */
/* DISCLAIMER */
/* /////////////////////////// */
.disclaimer {
  background: #000;

  width: 100%;
}

.disclaimer h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2rem;

  padding: 20px;

  filter: drop-shadow(0 0 0.75rem #ee9);
}

.disclaimerContent {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.disclaimerImage {
  width: 50%;
  position: relative;
  animation: slideInFromLeft 1s;
}

.disclaimerText {
  position: relative;
  color: #f8f8f8;
  padding: 20px;
  width: 50%;
  animation: fadeIn 1.5s;
}

.continue {
  position: relative;
  background: none;
  text-transform: capitalize;

  padding: 10px 20px;
  margin-top: 20px;

  transition: all ease-in 0.3s;
}

.continue:before {
  content: '';
  height: 50%;
  width: 50%;

  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px #f8f8f8 solid;
  border-left: 2px #f8f8f8 solid;
  transition: all ease-in 0.3s;
}

.continue:after {
  content: '';
  height: 50%;
  width: 50%;

  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 2px #f8f8f8 solid;
  border-right: 2px #f8f8f8 solid;
  transition: all ease-in 0.3s;
}

.continue:hover, .continue:focus {
  color: #ee9;
}

.continue:hover:after, .continue:focus:after {
  bottom: 50%;
  right: 50%;
  transform: rotate(180deg);
  border-color: #ee9;
}

.continue:hover:before, .continue:focus:before {
  top: 50%;
  left: 50%;
  transform: rotate(180deg);
  border-color: #ee9;
}

@keyframes slideInFromLeft {
  from {right: 100%;}
  to {right: 0;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* /////////////////////////// */
/* TITLE */
/* /////////////////////////// */

.titleScreen {
  background: url("./assets/images/titleBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  line-height: normal;
  text-align: center;
}

.titleScreen h1 {
  background-color: #36cc;
  border: 2px #98bcff solid;
  padding: 10px;

  letter-spacing: 2rem;
  text-transform: uppercase;
}

.azurLaneLogo {
  width: 100%;
}

.azurLaneLogo img {
  width: 100%;
}

.titleOptions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleOptions button, .menuButton {
  background-color: #222c;
  border: 2px #808080 solid;
  text-transform: uppercase;

  margin: 10px 0;
  padding: 20px;

  width: 100%;
}

.menuButton:hover, .menuButton:focus,
.titleOptions button:hover, .titleOptions button:focus {
  border-color: #98bcff;
  background-color: #36cc;
}
/* /////////////////////////// */
/* INSTRUCTION */
/* /////////////////////////// */
.instructions, .leaderboard, .credits, .menu {
  position: absolute;
  background-color: #444d;
  border: 2px #808080 solid;
  padding: 10px;

  width: 100%;
  height: 100vh;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instructions h2, .leaderboard h2 {
  background-color: #36cc;
  border: 2px #98bcff solid;
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2rem;
}

.rules li {
  margin: 25px 0;
}

.backButton {
  align-self: center;
  width: 25%;
  min-width: 300px;
  padding: 10px;

  background: crimson;

  text-transform: uppercase;
}

.backButton:hover {
  background: #ff8d8d;
}

.menuList {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu, .menu .leaderboard, .menu .instructions {
  top: 0;
  left: 0;
}
/* /////////////////////////// */
/* GAME */
/* /////////////////////////// */

.game {
  /* helps position the menu overlay */
  position: relative;
}

.pause {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 3.2rem;
  background: none;
}

.pause:hover, .pause:focus {
  color: #ee9;
}

.frame {
  display: flex;
  flex-direction: column;

  background-color: #cccc;
  border: 2px #d3d3d3 solid;
  padding: 10px;
  height: 100vh;
  margin: auto;
}

.timerHolder {
  height: 10vh;
}

.timeText {
  background-color: #5271b4cc;
  border: 2px #758cb8 solid;
  padding: 10px;
  font-weight: 900;
}

.gameBoard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666c;
  border: 2px #808080 solid;
  margin-top: 10px;
  height: 90vh;
}

.gameGrid {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.gameCardHolder {
  max-width: 185px;
  width: calc((100%/6) - 3%);
  margin: 1.5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gameCard {
  position: relative;
  width: 100%;
  max-width: 130px;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.gameCard:focus {
  outline: 4px #98bcff solid;
}

/* Prevent highlighting on cards */
.gameCard img, .gameCard p {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.gameCardFace, .gameCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.match {
  position: absolute;
  filter: drop-shadow(0 0 0.75rem crimson);
  color: #f8f8f8;
  font-weight: 900;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  top: 50%;
  transform: translateY(-50%) rotateY(180deg) translateX(50%);
}

.gameCardFace {
  transform: rotateY(180deg);
}

.gameCardFace img{
  border-radius: 3px;
}

.flip.gameCard {
  transform: rotateY(180deg);
}

/* /////////////////////////// */
/* END SCREEN */
/* /////////////////////////// */

.endScreen {
  position: absolute;
  z-index: 10;
  background-color: #cccc;
  border: 2px #d3d3d3 solid;
  padding: 10px;
  top: 0;
  height: 100%;
  width: 100%;

  display: flex;
}

aside {
  width: 30%;
  padding: 10px;
  margin-right: 10px;
  background: #222c;
  text-align: center;
}

.leaderboard ul, aside {
  overflow-y: scroll;
}

aside::-webkit-scrollbar, .leaderboard ul::-webkit-scrollbar {
  width: 10px;
}


aside::-webkit-scrollbar-thumb, .leaderboard ul::-webkit-scrollbar-thumb {
  background: #666; 
}

aside h3 {
  padding: 10px;
  border-bottom: 2px #d3d3d3 solid;
}

.bestTimes li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.bestTimes li:nth-child(even) {
  background: #666c;
}
.endContent, .endText, .endInput, .times {
  display: flex;
  flex-direction: column;
}

.endContent {
  width: 70%;
}

.endHeader {
  background-color: #36cc;
  border: 2px #98bcff solid;
  padding: 10px;
  text-align: center;
}

.endText {
  justify-content: space-between;
  background-image: url(./assets/images/amazon.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: bottom left 10%;
  background-color: #444c;
  border: 2px #808080 solid;
  height: 80%;
  padding: 10px;
}

.times {
  align-self: center;
  height: 100%;
  justify-content: center;
}

.endInput {
  background-color: #36cc;
  border: 2px #98bcff solid;

  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
}

.endInput p {
  padding: 10px;
}

.endInput input {
  padding: 5px;
  text-align: center;
  width: 100%;
}

.resetOptions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.resetOptions button {
  width: calc(100%/3);
  margin: 0 2%;
  padding: 20px;
  text-transform: capitalize;
}

.cancel {
  background-color: crimson;
}

.cancel:hover, .cancel:focus {
  background-color: #ff8d8d;
}

.save {
  color: #222;
}

.save:hover, .save:focus {
  background-color: #d3d3d3;
}

.confirm {
  background-color: #5271b4;
}

.confirm:hover, .confirm:focus {
  background-color: #98bcff;
}

/* /////////////////////////// */
/* CREDITS */
/* /////////////////////////// */

.credits .developers {
  opacity: 1;
  animation: none;
}

.creditsContent {
  background-color: #222c;
  border: 2px #808080 solid;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;

  height: 100%;
}

.creditItem {
  width: calc((100%/3) - 3%);
}

.storeButtons, .externalLinksHolder, .smLinksHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.storeButtons {
  flex-direction: column;
}

.buttonFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appStore, .playStore {
  margin: 10px 0;
}

.playStore {
  width: 50%;
}

.playStore img{
  object-fit: contain;
  height: auto;
}

.appStore {
  width: 50%;
  height: auto;
}

.externalLinks {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.externalLinks li {
  width: 100%;
  margin: 10px 0;
}

.externalLinks a {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.smLinks {
  display: flex;
  flex-wrap: wrap;
}

.smLinks li {
  width: calc(100%/3);
  margin: 15px 0;
}

.smLinks a {
  font-size: 4rem;
}

.smLinks a:hover, .smLinks a:focus {
  color: #36c;
  transition: all 0.3s ease-in;
}

.copyright {
  background-color: #000;
  border-top: 2px #222 solid;
  text-align: center;
  padding: 10px 0;
}

/* /////////////////////////// */
/* MEDIA QUERIES */
/* /////////////////////////// */

@media (max-width: 940px) {
  .credits {
    background: #222;
    height: auto;
  }

  .creditsContent {
    flex-wrap: wrap;
    border: none;
  }
  /* Stack footer elements on top of each other */
  .creditItem, .buttonFlex, .smLinks{
    width: 100%;
  }

  .buttonFlex {
    flex-direction: row;
    justify-content: space-around;
  }

  .smLinks {
    text-align: center;
  }

  .appStore {
    padding-right: 20px;
  }
}

@media (max-width: 600px) {

  .disclaimerContent {
    flex-direction: column;
    height: 85%;
  }

  .disclaimerImage {
    width: 100%;
    max-height: 250px;
    order: 1;
  }

  .disclaimerText {
    width: 100%;
  }

  .timeText {
    font-size: 1.4rem;
  }

  .gameCardHolder {
    width: calc((100%/3) - 3%);
  }
}

@media (max-width: 420px) {
  .disclaimer h2 {
    letter-spacing: 1rem;
  }

  .disclaimerImage {
    transform: rotateY(180deg);
  }

  .appStore {
    padding-right: 0px;
  }

  .buttonFlex {
    flex-direction: column;
  }

  .menu .instructions h2 {
    margin: 0;
  }

  .menu .rules li {
    margin: 15px 0;
  }
}